html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#Header{
position:absolute;
top:0px;
left:0px;
width:100%;
height:10%;
background-color:none;
z-index = -1;
}

.Tag a{
	text-decoration:none;
	color:white;
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
	font-weight:normal;
}
.Tag a:hover{
	color:#d3d3d3;
	 display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
   -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}



.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.BottomInfo a
{
	text-decoration:none;
	color:white;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight:normal;
}

.BottomInfo a:hover{
	color:#d3d3d3;
	 display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
   -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.BottomInfoBlack a
{
	text-decoration:none;
	font-weight:bold;
	color:black;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight:normal;
}

.BottomInfoBlack a:hover{
	color:#006400;
	 display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
   -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#Home{
position:absolute;
top:1px;
left: 425px;
z-index = 1000;
}
#HomeBelow{
position:absolute;
top:90%;
left:15%;
}
#About{
position:absolute;
top:1px;
left: 535px;
}
#AboutBelow{
position:absolute;
top:90%;
left: 20%;
}
#Skills{
position:absolute;
top:1px;
left: 645px;
}
#SkillsBelow{
position:absolute;
top:90%;
left: 25%;
}
#Projects{
position:absolute;
top:1px;
left: 748px;
}
#ProjectsBelow{
position:absolute;
top:90%;
left: 29.5%;
}
#Contact{
position:absolute;
top:0px;
left: 873px;
}
#ContactBelow{
position:absolute;
top:90%;
left: 35.5%;
}

#Vertical1
{
	position:absolute;
	top:91.3%;
	left:19.2%;
	border-style:solid;
	border-bottom-width:25px;
	border-color:white;
	border-bottom-left-radius:260em;
	border-bottom-right-radius:260em;
	opacity: 0.3;
    filter: alpha(opacity=30);
}

#Vertical2
{
	position:absolute;
	top:91.3%;
	left:24.2%;
	border-style:solid;
	border-bottom-width:25px;
	border-color:white;
	border-bottom-left-radius:260em;
	border-bottom-right-radius:260em;
	opacity: 0.3;
    filter: alpha(opacity=30);
}

#Vertical3
{
	position:absolute;
	top:91.3%;
	left:28.7%;
	border-style:solid;
	border-bottom-width:25px;
	border-color:white;
	border-bottom-left-radius:260em;
	border-bottom-right-radius:260em;
	opacity: 0.3;
    filter: alpha(opacity=30);
}

#Vertical4
{
	position:absolute;
	top:91.3%;
	left:34.8%;
	border-style:solid;
	border-bottom-width:25px;
	border-color:white;
	border-bottom-left-radius:260em;
	border-bottom-right-radius:260em;
	opacity: 0.3;
    filter: alpha(opacity=30);
}

#HomeBelowBlack{
color:black;
position:absolute;
top:90%;
left:15%;
}

#AboutBelowBlack{
color:black;
position:absolute;
top:90%;
left: 20%;
}

#SkillsBelowBlack{
color:black;
position:absolute;
top:90%;
left: 25%;
}
#ProjectsBelowBlack{
color:black;
position:absolute;
top:90%;
left: 29.5%;
}
#ContactBelowBlack{
color:black;
position:absolute;
top:90%;
left: 35.5%;
}

#Vertical1Black
{
	position:absolute;
	top:91.3%;
	left:19.2%;
	border-style:solid;
	border-bottom-width:25px;
	border-color:black;
	border-bottom-left-radius:260em;
	border-bottom-right-radius:260em;
	opacity: 0.3;
    filter: alpha(opacity=30);
}

#Vertical2Black
{
	position:absolute;
	top:91.3%;
	left:24.2%;
	border-style:solid;
	border-bottom-width:25px;
	border-color:black;
	border-bottom-left-radius:260em;
	border-bottom-right-radius:260em;
	opacity: 0.3;
    filter: alpha(opacity=30);
}

#Vertical3Black
{
	position:absolute;
	top:91.3%;
	left:28.7%;
	border-style:solid;
	border-bottom-width:25px;
	border-color:black;
	border-bottom-left-radius:260em;
	border-bottom-right-radius:260em;
	opacity: 0.3;
    filter: alpha(opacity=30);
}

#Vertical4Black
{
	position:absolute;
	top:91.3%;
	left:34.8%;
	border-style:solid;
	border-bottom-width:25px;
	border-color:black;
	border-bottom-left-radius:260em;
	border-bottom-right-radius:260em;
	opacity: 0.3;
    filter: alpha(opacity=30);
}

#Line2{
position:absolute;
top:50%;
left:26%;
border-style:solid;
border-right-width:700px;
border-bottom-width:.1px;
border-color:#79818d;
border-bottom-left-radius:260em;
border-bottom-right-radius:260em;
}
#FirstLine{
position:absolute;
 border-top: 75px solid black;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 587px;
	left:25%;
	top:0%;
	opacity: 0.2;
    filter: alpha(opacity=20);
}


#Name{
position:absolute;
top:30%;
left:30%;
font-family: 'Roboto', sans-serif;
font-size:70px;
font-weight:normal;
color:#FFFFCC;

}
#College{
position:absolute;
top:48%;
left:30%;
font-family: 'Roboto', sans-serif;
font-weight:normal;
font-size:40px;
color:#FFFFCC;
}
#Major{
position:absolute;
top:58%;
left:40%;
font-family: 'Roboto', sans-serif;
font-weight:normal;
font-size:30px;
color:#FFFFCC;
}
#title {
  background-image: url("oceanback.jpg");
  background-attachment: fixed;  
}

#slide1:before {
  background-color:black;
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#aboutinfo{
	position:absolute;
	color:white;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	font-size:80px;
	border-bottom: 2px solid white;
	top:1%;
	left:32%;
}

.Separator
{
	position:absolute;
	left:5%;
	top:88%;
	border-style:solid;
	border-right-width:1200px;
	border-bottom-width:.1px;
	border-color:#79818d;
	border-bottom-left-radius:260em;
	border-bottom-right-radius:260em;
	opacity: 0.3;
    filter: alpha(opacity=30);
}

.paboutinfowhite{
	position:absolute;
	color:white;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	font-size:80px;
	top:40%;
	left:32%;
}

.paboutinfoblack{
	position:absolute;
	color:black;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	font-size:80px;
	top:40%;
	left:32%;
}

#skillsinfo
{
	position:absolute;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	font-size:80px;
	text-decoration: none;
    border-bottom: 2px solid black;
	left:43%;
	top:2%;
}


#projectsinfo
{
	position:absolute;
	color:white;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	font-size:80px;
	text-decoration: none;
    border-bottom: 2px solid white;
	left:40%;
	top:2%;
}

#contactinfo
{
	position:absolute;
	color:black;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	font-size:80px;
	text-decoration: none;
    border-bottom: 2px solid black;
	left:40%;
	top:2%;
}

#slide2 {
  background-color:#d3d3d3;
  background-attachment: fixed;
}

#slide3:before {
  background-color:black;
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background-color:#d3d3d3;
}

