body, html {
  height: 100%;
  margin: 0;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-size: cover;

}
.bgimg-1 {


background: #141E30; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  min-height: 100%;
}

.bgimg-3 {


background: #E0EAFC; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          min-height: 100%;
}

.bgimg-2 {


background: #000000; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          min-height: 100%;
}

@font-face {
    font-family: facebookfont;
    src: url(facebookfont.otf);
}

@font-face {
    font-family: linkedinfont;
    src: url(linkedinfont.otf);
}
.BottomInfo a
{
  text-decoration:none;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight:normal;
}

.BottomInfo a:hover{
  color:#98fb98;
   display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
   -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


#Name{
position:absolute;
top:30%;
left:30%;
font-family: 'Roboto', sans-serif;
font-size:5vw;
font-weight:normal;
color:#FFFFCC;
}

#College{
position:absolute;
top:48%;
left:30%;
font-family: 'Roboto', sans-serif;
font-weight:normal;
font-size:3vw;
color:#FFFFCC;
}
#Major{
position:absolute;
top:58%;
left:40%;
font-family: 'Roboto', sans-serif;
font-weight:normal;
font-size:2vw;
color:#FFFFCC;
}

.BottomInfoTop a
{
  text-decoration:none;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight:normal;
}

.BottomInfoTop a:hover{
  color:#98fb98;
   display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
   -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.BottomInfoBlack a
{
  text-decoration:none;
  font-weight:bold;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.BottomInfoBlack a:hover{
  
  color:#800000;
   display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
   -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#Line2{
position:absolute;
top:50%;
left:26%;
border-style:solid;
border-right-width:700px;
border-bottom-width:.1px;
border-color:#79818d;
border-bottom-left-radius:260em;
border-bottom-right-radius:260em;
}

.Separator
{
  position:absolute;
  top:88%;
  width:100%;
  border-style:solid;
  border-color:#79818d;
  opacity: 0.3;
    filter: alpha(opacity=30);
}

#Home{
position:absolute;
top:1px;
left: 31.11273792093704%;
z-index = 1000;
}
#HomeBelow{
position:absolute;
top:90%;
left:40%;
padding-right: 8px;
}
#About{
position:absolute;
top:1px;
left: 39.16544655929722%;
}
#AboutBelow{
position:absolute;
top:90%;
left: 45%;
padding-right: 8px;
}
#Skills{
position:absolute;
top:1px;
left: 47.21815519765739%;
}
#SkillsBelow{
position:absolute;
top:90%;
left: 50%;
padding-right: 8px;
}
#Projects{
position:absolute;
top:1px;
left: 54.75841874084919%;
}
#ProjectsBelow{
position:absolute;
top:90%;
left: 54.5%;
padding-right: 8px;
}
#Contact{
position:absolute;
top:0px;
left: 63.90922401171303%;
}
#ContactBelow{
position:absolute;
top:90%;
left: 60.5%;
padding-right: 8px;
}

#HomeBelowblack{
position:absolute;
top:90%;
left:40%;
padding-right: 8px;
}

#AboutBelowblack{
position:absolute;
top:90%;
left: 45%;
padding-right: 8px;
}

#SkillsBelowblack{
position:absolute;
top:90%;
left: 50%;
padding-right: 8px;
}

#ProjectsBelowblack{
position:absolute;
top:90%;
left: 54.5%;
padding-right: 8px;
}

#ContactBelowblack{
position:absolute;
top:90%;
left: 60.7%;
padding-right: 8px;
}

#aboutinfo{
  position:absolute;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  font-size:70px;
  border-bottom: 2px solid white;
  top:.5%;
  left:39%;
}

.paboutinfowhite{
  position:absolute;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  font-size:27px;
  top:22%;
  left:15%;
  line-height: 150%;
}

#skillsinfo
{
  position:absolute;
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  font-size:80px;
  text-decoration: none;
    border-bottom: 2px solid black;
  top:.5%;
  left:43%;
}

.paboutinfoblack{
  position:absolute;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  font-size:30px;
  top:22%;
  left:15%;
  line-height: 150%;
}

#resumepic
{
  position:absolute;
  width:10%;
  height:20%;
  left:40%;
  top:50%;
}

#resumepic:hover{
  color:#d3d3d3;
   display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
   -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#projectsinfo
{
  position:absolute;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  font-size:80px;
  text-decoration: none;
    border-bottom: 2px solid white;
  left:40%;
  top:.01%;
}

.projecttext{
  position:absolute;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  font-size:40px;
  top:20%;
  left:35%;
  line-height: 150%;
}

#projecticongithub
{
  position:absolute;
  width:9%;
  height:15%;
  left:40%;
  top:50%;
  padding:1%;
  opacity: 1.0;
filter: alpha(opacity=100); /* For IE8 and earlier */

 border-radius: 50px;
  border-style:solid;
  border-color:white;
}
#projecticongithub:hover{
   border-color: #800000;
  opacity: 0.7;
      filter: alpha(opacity=70); /* For IE8 and earlier */
}


#contactinfo
{
  position:absolute;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  font-size:80px;
  text-decoration: none;
    border-bottom: 2px solid black;
  left:40%;
  top:2%;
}

.paboutinfoblackcontact{
  position:absolute;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  font-size:30px;
  top:25%;
  left:22%;
  line-height: 150%;
}

#facebookiconcontact
{
  position:absolute;
  color:black;
  top:45.5%;
  left:29%;
  font-family:facebookfont;
  font-size:130px;
  text-decoration:bold;
    opacity: 1.0;
filter: alpha(opacity=100); /* For IE8 and earlier */
  padding-top:.1%;
  padding-bottom:.1%;
  padding-left:2.5%;
  padding-right:2.5%;
 border-radius: 50px;
  border-style:solid;
  border-color:black;
}
#facebookiconcontact:hover{
   border-color: #800000;
  opacity: 0.7;
      filter: alpha(opacity=70); /* For IE8 and earlier */
}


#linkediniconcontact
{
  position:absolute;
  color:black;
  top:46%;
  left:47%;
  font-family:linkedinfont;
  font-size:100px;
  padding-top:1%;
  padding-bottom:1%;
  padding-left:1.5%;
  padding-right:1.5%;
 border-radius: 50px;
  border-style:solid;
  border-color:black;
}
#linkediniconcontact:hover{
   border-color: #800000;
  opacity: 0.7;
      filter: alpha(opacity=70); /* For IE8 and earlier */
}

#outlookcontact
{
  position:absolute;
  color:black;
  top:47%;
  left:63.3%;
  width:10%;
  height:15%;
   padding-top:.25%;
  padding-bottom:.25%;
  padding-left:.1%;
  padding-right:.1%;
 border-radius: 50px;
  border-style:solid;
  border-color:black;
}

#outlookcontact:hover{
   border-color: #800000;
  opacity: 0.7;
      filter: alpha(opacity=70); /* For IE8 and earlier */
}
